<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600i,300,700,700i,300i|Julius+Sans+One:400">
  <link charset="utf-8" rel="stylesheet" id="yui_3_17_2_13_1508346274958_471" href="https://static.squarespace.com/universal/fonts/squarespace-gotham.css">
  <link rel="stylesheet" type="text/css" href="/bundle.css">
  <title></title>
  <style>
    .container{
        max-width:1250px;
        margin:0 auto;
        margin-top:350px;
    }

  </style>
</head>
<body>
<div class="container">
  <div id="app" class="app data-ready has-custom-shop" :class="appLoaded" data-tag="sell" data-collection="gallery-collection?nocache=true,gallery-collection-2?nocache=true" data-prices="true" data-price-max="50000">
    <div class="content" v-bind:class="scrollClasses">
      <div class="filters" v-on:click="menuOpen">
        <div class="category filter">
          <div v-for="item in categories" :data-name="item.category" v-bind:key="item.id" class="select item" v-bind:class="{ active: item.isActive }" v-on:click="filterByCategory(item)">
            {{ item.category }}
          </div>
        </div>     
      </div>
      <transition-group name="list-complete" tag="div" class="collection grid product-list">
        <div v-for="item in currentList" v-bind:key="item.id" class="item product" :data-tags="item.tags">
          <a v-bind:href="access(item.fullUrl)" class="link">
          <div class="inner-content">
            <div class="media-wrapper">
              <image-component :data-src="item.items[0].assetUrl + '?format=300w'"></image-component>
            </div>
            <div class="product-info">
              <div class="product-title">
                {{ item.title }}
              </div>            
              <div class="product-price" v-if="sessionStorage.getItem('access') === 'true'">
                {{ item.price | formatPrice }}
              </div> 
            </div>
          </div>
          </a>
        </div>
      </transition-group>
      <div class="button-wrapper centered">
           <a href="#load-more" class="load-more">Load More</a>
      </div>
    </div>
    <div class="loading-wrapper">
        <div class="loader"></div>
    </div>
    <back-to-top></back-to-top>
  </div>
</div>
<script src="/bundle.js"></script>
</body>
</html>